* {
    box-sizing: border-box;
}

h1 {
    font-size: 2rem;
    color: darkgoldenrod;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    width: 80%;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background: oldlace;
    padding: 10px 20px;
}

li {
    font-size: large;
    margin: 2px;
    
}

table, td, th{
    border: 1px solid black;
}
